body{
    background: linear-gradient(to left, rgb(159, 174, 255) ,rgb(111, 113, 247));
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 46);;
}
img{
    max-height: 130px;
    border-radius: 15px;
}
h3{
    text-align: center;
    font-size: 25px;
}
#imagem1{
    margin-left: 50px;
}